.accomodationPage {
    &__info {
        display: flex;
        justify-content: space-between;
        margin: 0;

        @media all and (max-width: 768px) {
            &__right {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }
    }

    &__collapse {
        display: flex;
        justify-content: space-between;
        margin-top: 38px;

        &__description {
            width: 47%;
        }

        &__equipement {
            width: 47%;

            &__content {
                & span {
                    display: block;
                }
            }
        }
    }

    @media all and (max-width: 768px) {
        &__info {
            display: block;
        }

        &__collapse {
            display: block;
            margin-top: 15px;

            &__description {
                width: 100%;
            }

            &__equipement {
                width: 100%;
            }
        }
    }
}
