.accomodationPage {
    &__info {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    &__collapse {
        display: flex;
        justify-content: space-between;
        margin-top: 38px;

        &__description {
            width: 47%;
        }

        &__equipement {
            width: 47%;

            &__content {
                & span {
                    display: block;
                }
            }
        }
    }
}
