$primary-color: #ff6060;

.tags {
    margin-top: 20px;
    margin-bottom: 0;
    height: 25px;
    &__content {
        display: flex;
        & h4 {
            margin: 0 10px 0 0;
            font-weight: 700;
            font-size: 14px;
            width: auto;
            background-color: $primary-color;
            color: #fff;
            text-align: center;
            height: 25px;
            padding-top: 8px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 10px;
        }
    }
}
