.rating {
    @media all and (max-width: 768px) {
        // margin: auto 0;
        padding-top: 20px;
    }
    .rating__content {
        display: flex;
        .rating__content_star {
            .fullStar {
                color: #ff6060;
                width: 36px;
                height: 36px;
            }

            .emptyStar {
                color: #e3e3e3;
                width: 36px;
                height: 36px;
            }

            @media all and (max-width: 768px) {
                .fullStar {
                    width: 18px;
                    height: 18px;
                }

                .emptyStar {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}
