$primary-color: #ff6060;

.title {
    margin: 0;

    &__content {
        & h2 {
            font-weight: 500;
            font-size: 36px;
            margin-top: 30px;
            margin-bottom: 0;
            color: $primary-color;
        }
        & h3 {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
        }
    }
}
