.collapse {
    width: 80%;
    margin: 38px auto 0;
}

@media all and (max-width: 768px) {
    .collapse {
        width: 100%;
    }
}

.collapse__dropdown__container {
    margin-bottom: 30px;
    color: #fff;

    .collapse__dropdown__up {
        display: flex;
        justify-content: space-between;
        height: 52px;
        padding-left: 15px;
        padding-right: 11px;
        border-radius: 5px;
        background-color: #ff6060;

        & h2 {
            margin: 0;
            padding: 10px 0 0 0;
        }

        & span {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        @media all and (max-width: 768px) {
            & h2 {
                font-size: 15px;
                padding-top: 5px;
            }
        }
    }

    @media all and (max-width: 768px) {
        .collapse__dropdown__up {
            height: 30px;
        }
    }

    .collapse__dropdown__content {
        background-color: #f6f6f673;
        color: black;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        &__p {
            margin: 0;
            padding: 15px;
        }
    }

    &.open .collapse__dropdown__content {
        max-height: 500px;
    }
}
